priority -50

# skeleton
snippet <!doc
<!-- HTML template -->

<!doctype html>
<html>
<head>
  <title>Title text</title>
  <meta name="description" content="Description">
  <meta name="keywords" content="Keywords">
</head>

<body>
  Content
</body>
</html>
endsnippet
